body {
  font-family: Arial;
  margin: 0;
  font-size: 24px;
  margin-left:50px;
  margin-left:auto;

}

.bar { 

  margin-left: auto;

  padding: 1px;


 }

div {
  border: 1px solid black;
  text-align: left;
  width: 70%;
  margin-top: 100px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;

  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;

}





