

.navbar { 
	
	font-weight: bold;
	border: 2px solid royalblue;
	text-align: center;
	width: 10em;
	background-color: royalblue;
 }

body {
	font-size: 30pt;
	background-color: darkblue;
	font-style: oblique;
	font-family: monospace;
	color: palegreen;


	padding-top: 50px;
	padding-right: 30pxs;
	padding-bottom: 50px;
	padding-left: 80px;

	border: 5px solid wheat;
	margin-top: 50px;
}



nav ul {	display: ;
			list-style: none;
			padding-top: 50px;
			padding-left: 50px;
			width: 100em;
			position: relative;
			left: 1ex;
		}			


nav:hover ul { display:block; }

nav ul li { border-top: 2px solid royalblue;
			margin-right: 50px;
			padding-top: 30px;
			background-color: white;
			border-right: dotted;
			width: 10em;
			color: black; }

nav ul li:hover { background-color: powderblue; }

a { text-decoration:none; }